<html>
<body>
    <h1>About</h1>
<p>done by:Harsh meena,Prasanth kota,Pedada Gopal,Laudya Janakiram</p>
<p>This project is all about maintaining the safe temperature for the electronic devices and to
 sends alerts to user/admin in case of an alarming situation.userrs has to contact admin for the room allocation.users can register complaints if the website is malfunctioning.</p>
<p>we highly value the safety of electronic computers and other devices.user can view the temperature of his room and set the safe temperature accordingly.if the room temperature is exceeding the safety vlimit then email will be sent to the required emergency contacts.</p>.
</body>
</html>