<%- include('partials/header') %>
<body style="background: url(/assets/desk4.jpg);">
<!-- navbar header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="/assets/logo.png" alt="logo" width="30" height="24" class ="d-inline block" id = "logo">
            TemperaturA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <%- include('partials/navlinks') %>
            <form class = "justify-content" action="/">
                <button  class = "btn btn-outline-light me-2" type="submit">Home</button>
            </form>
        </div>
    </div>
</nav>


    <div class="card border-dark mb-3 mx-auto" style="max-width:50vh;margin-top: 20vh;">
        <div class="card-header text-center"><h5 class="card-title">TemperaturA Login</h5></div>
        <div class="card-body text-dark">
            <form class="login-form" action = "/login" method = "POST">
                <label class="form-label" for = "email">Email</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" name = "email" autocomplete="off" required>
                </div>
                <label class="form-label" for = "pwd">Password</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" name = "pwd" autocomplete="off" required>
                </div>
                <div class="input-group text-danger">
                    <% if (messages.error) { %>
                        <%= messages.error %>
                    <% } %>
                </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-dark" type="submit">Login</button>
            </form>
        </div>
      </div>
<%- include('partials/footer') %>
</body>