<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Temperatura</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<!-- navbar header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="/logo.png" alt="logo" width="30" height="24" class ="d-inline block align-top">
            Temperatura
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#">Docs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <!-- <form class="justify-content-start">
                <button class="btn btn-outline-light me-2" type="button">Signup</button>
                <button class="btn btn-outline-light me-2" type="button">Login</button>
            </form> -->
    </div>
</nav>
<div class="container mx-auto">
    <div class="dashboard">
        <form class="login-form" action = "/login" method = "POST">
            <label class="form-label" for = "email">User Name</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" name = "email" autocomplete="off" required>
            </div>
            <label class="form-label" for = "pwd">Password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name = "pwd" autocomplete="off" required>
            </div>
            <button class="btn btn-outline-dark" type="submit">Login</button>
        </form>
    </div>
</div>
</body>