<%- include('partials/header') %>
<body class = "bg-dark">
    <div class="container-fluid text-white">
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
    </div>
    
    <!-- navbar header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="/assets/logo.png" alt="logo" width="30" height="24" class ="d-inline block" id = "logo">
                TemperaturA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                       <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                     <li class="nav-item">
                       <a class="nav-link active" href="/#features">Features</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link active" href="/#team">Team</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link active" href="/#contact">Contact</a>
                    </li>
                </ul>
                <form class = "justify-content" action = "/admin_dashboard">
                    <button class="btn btn-outline-light me-2" type="submit">Dash Board</button>
                </form>
                <form class = "justify-content" action="/logout?_method=DELETE" method="POST">
                    <button  class = "btn btn-outline-light me-2" type="submit">Logout</button>
                </form>
        </div>
    </nav>

    <!-- form for creating a new user -->

    <!-- top section -->
    <div class="intro py-3 bg-dark text-light text-center">
        <div class="container">
            <h2 class="display-4 my-4">Enter New User Details</h2>
        </div>
    </div>

    <!-- form content -->
    <div class="quiz py-4 bg-dark">
        <div class="container">
            <form action="/new_user" method = "POST" class="user-info text-light mx-auto">
                <div class="input-group mb-3">
                    <div class="row name">
                        <div class="col">
                            <label for="firstname" class="form-label"> First Name</label>
                            <input type="text" name = "firstname" class="form-control" placeholder="First name" aria-label="First name" required>
                        </div>
                        <div class="col">
                            <label for="lastname" class="form-label">Last Name</label>
                          <input type="text" name="lastname" class="form-control" placeholder="Last name" aria-label="Last name" required>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="rollno" class="form-label">Roll Number</label>
                    <input type="text" name = "uname" class="form-control" placeholder="Roll Number" aria-label="rollno" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name = "email" class="form-control" placeholder="Email Address" aria-label="Email" required>
                </div>
                <div class="mb-4">
                    <label for="mobno" class="form-label">Mobile No</label>
                    <input type="text" name = "mobno" class="form-control" placeholder="Mobile Number" aria-label="mob-no" required>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="1" name="admin">
                    <label class="form-check-label" for="admin">
                      Is Admin
                    </label>
                </div>
                <div class="text-light mb-4 "><%= errorMessage %></div>
                <a type = "button" class = "btn btn-outline-light" href="/admin_dashboard">Cancel</a>
                <button type="submit" class="btn btn-outline-light">Submit</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>