body{
    font-family : 'Nunito',sans-serif;
}
#unit{
    font-size: 4vh;
}
i{
    font-size: 5vh;
}
i:hover{
    color: blue;
}
.room-info{
    max-width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.row{
    font-size: 1.4vh;
}
.bi-pencil,.bi-telephone,.bi-save{
    font-size: 1.4vh;
    padding-right: 1vh;
}
footer{
    height : 2.5rem;
}