/* body{
    font-family : 'Nunito',sans-serif;
} */
#logo{
    background-color: #fff;
    border-radius: 10px;
}
#unit{
    font-size: 4vh;
}
i{
    font-size: 5vh;
}
i:hover{
    color: blue;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:#fff;
}
.room-info{
    max-width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.row{
    font-size: 1.4vh;
}
.bi-pencil,.bi-telephone,.bi-save{
    font-size: 1.4vh;
    padding-right: 1vh;
}
footer{
    height : 2.5rem;
}

/*  New User Page Styles */
.user-info{
    width: 60vw;
    max-width: 800px;
}
.name{
    width: 60vw;
}