img{
    max-height: 40vh;
}
/* body{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
} */
#about{
    margin-top: 10vh;
    height: 100%;
}
.card-img-top{
    max-width: 150px;
    max-height: 150px;
}
#team{
    width: 80vw;
    padding-top: 10vh;
    height: 100%;
}
/* }
#team{
    margin-top: 10vh;
    padding-top: 10vh;
    padding: 10vh;
    max-width: 80vh;
    margin: auto;
}
/* .card{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
} */
.bi{
    color: #000;
}
#contact{
    max-width: 60vw;
    height: 100%;
    padding-top: 10vh;
}
.bi-envelope:hover{
    color: red;
}
.bi-github:hover{
    color: blue;
}
.bi-telephone:hover{
    color:#3bda35;
}
.card-text{
    width: 80%;
}