body{
    background-image: url(/assets/background.jpg);
    font-family : 'Open Sans',sans-serif;
}

#logo{
    background-color: #fff;
    border-radius: 10px;
}

.container{
    max-width: 400px;
    margin-top : 200px;
}
footer{
    height : 2.5rem;
}